<nav class="layout-footer footer">
    <div>
        <span>&copy
        <script>document.write(new Date().getFullYear())</script> The Treasury PayInt.</a></span>
    </div>
    <div>
        <a target="_blank" href="https://worldbank.org/en/about/legal" class="footer-link">Legal</a>
        <a target="_blank" href="https://worldbank.org/en/access-to-information"
            class="footer-link">Access to Informal</a>
        <a target="_blank" href="https://worldbank.org/en/about/careers" class="footer-link">Job</a>
        <a href="mailto:contact@treasurypayint.com" class="footer-link">Contact</a>
    </div>
</nav>