<nav class="layout-footer footer bg-white">
    <div class="footer__main container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
        <div class="pt-3">
            <span class="footer-text font-weight-semibold">&copy
                <script>document.write(new Date().getFullYear())</script> The Treasury PayInt PayInt</a></span>
        </div>
        <div>
            <a target="_blank" href="https://worldbank.org/en/about/legal" class="footer-link pt-3">Legal</a>
            <a target="_blank" href="https://worldbank.org/en/access-to-information"
                class="footer-link pt-3 ml-4">Access to Informal</a>
            <a target="_blank" href="https://worldbank.org/en/about/careers" class="footer-link pt-3 ml-4">Job</a>
            <a href="mailto:contact@treasurypayint.com" class="footer-link pt-3 ml-4">Contact</a>
        </div>
    </div>
</nav>