<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid ">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="/">
                                    <img src="/img/logo.png" alt="">

                                    <span class="lead">Treasury PayInt</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">home</a></li>
                                        <li><a href="Loan.html">Loan</a></li>
                                        <li><a href="about.html">Scam Alert</a></li>
                                        <li><a href="https://projects.worldbank.org" target="_blank">Project &
                                                Operations</a></li>
                                        <li><a href="https://www.worldbank.org/en/publication/gfdr/about/faq"
                                                target="_blank">FAQ</a>
                                        </li>
                                        <li><a href="mailto:contact@treasurypayint.com" target="_blank">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="phone_num d-none d-xl-block">
                                    <a href="tel:+1(503) 444-8042"> <i class="fa fa-tty"></i> +1 (503) 444-8042 </a>
                                </div>
                                <div class="d-none d-lg-block">
                                    <a class="boxed-btn4" href="/users/auth/register">Open Account</a>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-12">
                            <div class="mobile_menu">

                            </div>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>