        <!-- account overview -->

        <div class="tile_count">
          <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-line-chart"></i> Available Balance </span>
            <div class="count green">0.00</div>
            <span class="count_bottom"><i class="green">0% </i> From Last Month</span>
          </div>
          <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> Pending Fund </span>
            <div class="count">0.00</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From Last Month</span>
          </div>
          <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-mail-forward"></i> Reverse Fund </span>
            <div class="count red">0.00</div>
            <span class="count_bottom"><i class="red"><i class="fa fa-sort-asc"></i>34% </i> From Last Month</span>
          </div>
          <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-building"></i> Loan Balance</span>
            <div class="count green">0.00</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-desc"></i>12% </i> From Last Month</span>
          </div>
          <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-wrench"></i> Tax Payment </span>
            <div class="count">0.00</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From Last Month </span>
          </div>
          <div class="col-md-2 col-sm-4  tile_stats_count">
            <span class="count_top"><i class="fa fa-sliders"></i> Maintenance Fee </span>
            <div class="count">0.00</div>
            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From Last Month </span>
          </div>
     
        <!-- /account overview -->
      





          
        <!-- world domination map -->

        <div class="col-md-12 col-sm-12 ">
          <div class="x_panel">
            <div class="x_title">
              <h2>World Domination </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="dashboard-widget-content">
                <div class="col-md-4 hidden-small">
                  <h2 class="line_30">612 Locations from 20 countries</h2>

                  <table class="countries_list">
                    <tbody>
                      <tr>
                        <td>United States</td>
                        <td class="fs15 fw700 text-right">21 Locations</td>
                      </tr>
                      <tr>
                        <td>United Kingdom</td>
                        <td class="fs15 fw700 text-right">13 Locations</td>
                      </tr>
                      <tr>
                        <td>France</td>
                        <td class="fs15 fw700 text-right">24 Locations</td>
                      </tr>
                      <tr>
                        <td>Germany</td>
                        <td class="fs15 fw700 text-right">16 Locations</td>
                      </tr>
                      <tr>
                        <td>Spain</td>
                        <td class="fs15 fw700 text-right">11 Locations</td>
                      </tr>
                      <tr>
                        <td>Britain</td>
                        <td class="fs15 fw700 text-right">10 Locations</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div id="world-map-gdp" class="col-md-8 col-sm-12 " style="height:230px;"></div>
              </div>
            </div>
          </div>
        </div>

      
        <!-- /world domination -->












  <div class="col-md-12 col-sm-12 ">
          <div class="x_panel">
            <div class="x_title">
                <h2></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              <div class="row">
                  <div class="col-sm-12">
                    <div class="card-box table-responsive">
            <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Transaction Date</th>
                  <th>Value Date</th>
                  <th>Description</th>
                  <th>Deposit</th>
                  <th>Withdrawal</th>
                  <th>Status</th>
                </tr>
              </thead>


              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
  </div>


