<!DOCTYPE html>
<html lang="en" class="material-style layout-fixed">
<head>
    <title>Treasury PayInt PayInt</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Treasury PayInt PayInt." />
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <script src="https://kit.fontawesome.com/bbe5d49f9d.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/shreerang-material.css">
    <link rel="stylesheet" href="/css/admin-db.css">
</head>

<body>
    
    <div class="container">
        <button class="btn btn-primary validate_back">Back</button>
            <h3 class="text-center m-3">Validation Center</h3>
            <section>
            <div class="section_1">
                <div class="card p-3">
                    <h5>Anderson Rolland</h5>
                    <div>
                    <form>
                        <label>Available</label>
                        <div>
                            <input class="form-control input" type="number" placeholder="$100,000,000.00">
                            <button type="submit" class="btn btn-primary bt" id="">Update</button>
                        </div>
                    </form>
                    <form>
                        <label>Reversed</label>
                        <div>
                            <input class="form-control input" type="number" placeholder="$50,000.00">
                            <button type="submit" class="btn btn-primary bt" id="">Update</button>
                        </div>
                    </form>
                    <form>
                        <label>Pending</label>
                        <div>
                            <input class="form-control input" type="number" placeholder="$100,000.00">
                            <button type="submit" class="btn btn-primary bt" id="">Update</button>
                        </div>
                    </form>
                    <form>
                        <label>Loan</label>
                        <div>
                            <input class="form-control input" type="number" placeholder="$20,000.00">
                            <button type="submit" class="btn btn-primary bt" id="">Update</button>
                        </div>
                    </form>
                    <form>
                        <label>Tax</label>
                        <div>
                            <input class="form-control input" type="number" placeholder="Update tax fee">
                            <button type="submit" class="btn btn-primary bt" id="">Update</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
                <div class="section_2">
                <div class="card p-3 mb-5">
                    <div class="tai">
                        <form>
                            <h5>Tai</h5>
                            <div class="placeholder">
                                <input class="form-control input" type="number" placeholder="1234" readonly>
                                <button type="submit" class="btn btn-primary bt" id="">Generate</button>
                                <!-- <button type="submit" class="btn btn-primary bt" id="">Generated</button> -->
                            </div>
                        </form>
                        <form>
                            <div>
                                <h5 class="h5">Verify User</h5>
                                <button type="button" class="btn btn-warning bt" id="">Verify</button>
                                <!-- <button type="button" class="btn btn-success" id="">Verified</button> -->
                            </div>
                        </form>
                        <form>
                            <div>
                                <h5 class="h5">Maintainance</h5>
                                <button type="button" class="btn btn-danger bt" id="">Updating</button>
                                <!-- <button type="button" class="btn btn-success" id="">Updated</button> -->
                            </div>
                        </form>
                        <form>
                            <div>
                                <h5 class="h5">Restriction</h5>
                                <button type="button" class="btn btn-danger bt" id="">Restricted</button>
                                <!-- <button type="button" class="btn btn-primary" id="">Restrict</button> -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>
    <script src="../js/admin-action.js"></script>
</body>
</body>
</html>