<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change your password | Treasury PayInt</title>
    <link rel="stylesheet" href="/css/auth.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/toast.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <!-- Primary Meta Tags -->
    <script src="https://kit.fontawesome.com/129210617d.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="loader show-loader" id="loader">
        <img src="/img/loader.gif" alt="loader">
    </div>
    <div class="taost-container success" id="taost-container">
        <h3 class="toast-message" id="toast-message"></h3>
    </div>
    <section>
        <div class="container">
            <div class="user signinBx">
                <div class="imgBx forgot-password">
                    <div class="brand-logo">
                        <img src="/img/logo.svg" alt="">
                    </div>
                    <div class="brand">
                        <h2>Treasury PayInt <span>int'l &trade;</span></h2>
                        <p>Move your money with the most trusted online banking without stress or delay.</p>
                    </div>
                </div>
                <div class="formBx">
                    <form action="/users/password/change-password" method="post">
                        <h2>Change your password</h2>
                        <%- include('./partials/message'); %>
                        <div class="username-field">
                            <ion-icon name="person"></ion-icon>
                            <label for="password">New password</label>
                            <input required autofocus="true" type="password" name="password" id="password" placeholder="New password" />
                        </div>
                        <div class="username-field">
                            <ion-icon name="person"></ion-icon>
                            <label for="password2">Repeat password</label>
                            <input required type="password" name="password2" id="password2" placeholder="Repeat password" />
                        </div>
                        <button id="change-password-btn" type="submit">Change</button>
                        <p class="signup">
                        Don't have an account?
                        <a href="/users/auth/register" onclick="toggleForm();">Sign Up.</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script>
        const password = document.querySelector('#password')
        const password2 = document.querySelector('#password2')
        const btn = document.querySelector('#change-password-btn')
        btn.addEventListener('click', (event) => {
            event.preventDefault()
            if(password.value === '' || password2.value === ''){
                return showToast("Password fields cannot be empty", "error")
            }
            if(password.value !== password2.value){
                return showToast("Password do not match", "error")
            }
            openLoader()
            fetch(`http://localhost:4000/users/auth/forgot-password/${email.value}`, {
                method: "post"
            })
            .then(response => response.json())
            .then(data => {
                closeLoader()
                const {message} = data
                if(message === "Email not register") {
                    return showToast(message, "error")
                } else{
                    showToast(message, "success")
                }
            })
            .catch(err => {
                closeLoader()
            })
        })
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/auth.js"></script>
    <script src="/js/loader.js"></script>
    <script src="/js/toast.js"></script>
</body>
</html>