<!DOCTYPE html>

<html lang="en" class="material-style layout-fixed">

<head>
    <title>Treasury PayInt | International Online Banking</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Treasury PayInt PayInt." />
    <link rel="icon" type="image/x-icon" href="/img/logo.png">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- Icon fonts -->
    <link rel="stylesheet" href="/fonts/fontawesome.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SV2HBQMKMF"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SV2HBQMKMF');
    </script>
    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap-material.css">
    <link rel="stylesheet" href="/css/shreerang-material.css">
    <link rel="stylesheet" href="/css/uikit.css">

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>

    <!-- animation style -->
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">

    <!-- welcome page css -->
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- Main Section-Start -->
    <div class="slider_area">

        <!-- header-start -->
        <%- include("./partials/_header.ejs") %>
        <!-- header-end -->

        <div class="loader">
            <img src="../img/loader.gif" alt="loading...">
        </div>

        <!-- slider_area_start -->
        <div class="container">
            <div class="slider_text">
                <h3 data-aos="fade-right">Go Beyond Your Imagination With Fast & Secure Banking.</h3>

                <div class="sldier_btn" data-aos="fade-right">
                    <a href="/users/auth/login" class="boxed-btn3">Get started</a>
                </div>
            </div>  
        </div>
        <!-- slider_area_end -->
        
        <!-- Footer-Start -->
        <%- include('./partials/_footer.ejs') %>
        <!-- Footer---End -->
    </div>
    <!-- Main Section-Ends -->

</body>
<!-- Core scripts -->
<script src="/js/pace.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/libs/popper/popper.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/sidenav.js"></script>
<script src="/js/layout-helpers.js"></script>
<script src="/js/material-ripple.js"></script>
<script src="/js/custom.js"></script>

<!-- Bootstrap core JS-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

<!-- Core theme JS-->
<script src="js/scripts.js"></script>

<script src="/js/custom-msg.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
<script>

    AOS.init({
        duration: 1200,
    })

    var index_header = document.querySelector("#index_header");
    var index_menu = document.querySelector("#index_menu");
    var lead = document.querySelector(".lead");

    function menu() {
        index_header.classList.toggle("active");
        lead.classList.toggle("active");
    }

</script>

<script src="../js/country.js"></script>
<script src="../js/signup.js"></script>
<script src="js/main.js"></script>
<script src="../js/loader.js"></script>

</body>

</html>