<div class="apply_form_area">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-4 p-0">
                <div class="img-container">
                    <div class="img-fill"></div>
                    <img src="/img/banner/bank-account.jpg" alt="" class="">
                </div>
            </div>
            <div class="col-lg-8">
                <form action="#" class="apply_form">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="apply_info_text text-center">
                                <h3>REQUEST ACCOUNT</h3>
                                <p>Please fill all the fields below to approve your account.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_field">
                                <input type="text" placeholder="Firstname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_field">
                                <input type="text" placeholder="Othername">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input type="text" placeholder="Residential Address">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_field">
                                <input type="text" placeholder="State">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_field">
                                <input type="text" placeholder="Country">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <span class="dob">Date of Birth</span>
                            <div class="single_field">
                                <input type="date" value="dob" name="dob" placeholder="date of birth" class="form-control dob-input">
                            </div>
                        </div>
                        <!-- gender for account request -->
                        <div class="col-md-12">
                            <span class="radio-label">Choose Gender</span>
                            <div class="row marital-status">
                                <div class="">
                                    <label for="male" class="gender-label">Male</label>
                                    <input type="radio" name="gender">
                                </div>
                                <div class="">
                                    <label for="male" class="gender-label">Female</label>
                                    <input type="radio" name="gender">
                                </div>
                                <div class="">
                                    <label for="male" class="gender-label">Other</label>
                                    <input type="radio" name="gender">
                                </div>
                            </div>
                         
                        </div>
                        <!--/gender for account request -->
                        <!-- marital status for account request -->
                        <div class="col-md-12">
                            <span class="radio-label">Marital Status</span>
                            <div class="row marital-status" >
                                <div class="">
                                    <label for="male" class="gender-label">Single</label>
                                    <input type="radio" name="gender">
                                </div>
                                <div class="">
                                    <label for="male" class="gender-label">Maried</label>
                                    <input type="radio" name="gender">
                                </div>
                                <div class="">
                                    <label for="male" class="gender-label">Divorced</label>
                                    <input type="radio" name="gender">
                                </div>
                                <div class="">
                                    <label for="male" class="gender-label">Widowed</label>
                                    <input type="radio" name="gender">
                                </div>
                            </div>
                         
                        </div>
                        <!-- marital status for account request -->

                        <div class="col-md-12">
                            <div class="single_field">
                                <input type="email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_field">
                                <input type="number" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_field">
                                <input type="number" placeholder="WhatsApp Number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_field">
                                <input type="text" placeholder="Occupation">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input type="text" placeholder="Monthly Income">
                            </div>
                        </div>
                       
                            <div class="col-md-12">
                                <div class="custom-file single_field mb-3">
                                    <input type="file" class="custom-file-input" id="inputGroupFile03">
                                    <label class="custom-file-label" for="inputGroupFile03">Upload a valid ID</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="custom-file single_field">
                                    <input type="file" class="custom-file-input" id="inputGroupFile03">
                                    <label class="custom-file-label" for="inputGroupFile03">Upload a Clear Selfie Picture</label>
                                </div>
                            </div>
                      
                        <div class="col-lg-12">
                            <div class="apply_info_text bank-details">
                                <span>BANK DETAILS</span>
                                <p>Please provide your local bank details below.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input type="text" placeholder="Bank Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_field">
                                <input type="text" placeholder="Account Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single_field">
                                <input type="number" placeholder="Account number">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="single_field">
                                <input type="text" placeholder="Bank Branch">
                            </div>
                        </div>
         
                        <div class="col-md-12">
                            <div class="submit_btn">
                                <button class="boxed-btn3" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>