<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your submission has been sent</title>
    <link rel="stylesheet" href="../css/success.css">
</head>
<body>
    <div class="success__gif">
        <div class="inner">
            <div class="wrapper">
                <img src="../img/loader/success.gif">
            </div>
            <div class="success">
                <h2>Thank you!</h2>
                <p>Your submission has been sent.</p>
            </div>
        </div>
    </div>
    
    <script>
        setTimeout(() => {
        window.location.replace("/dashboard")
        }, 2000);
    </script>
</body>
</html>