.profile-content {
  overflow-x: hidden;
  overflow: auto;
}
.profile-container {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 20rem 1fr;
  grid-gap: 30px;
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 3rem;
}
.profile-container > .profile-info {
  background-color: #ffff;
  width: 100%;
  height: 100%;
  box-shadow: 0px 5px 5px rgba(167, 156, 156, 0.05);
  display: grid;
  grid-template-rows: 14rem 6rem 1fr 4rem;
}
.profile-container > .profile-info > div:first-child {
  overflow: hidden;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  margin: auto auto;
  border: 1px solid #eee;
  box-shadow: 0 5px 10px rgba(54, 48, 48, 0.2);
}
.profile-container > .profile-info > div:first-child > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.profile-container > .profile-info > div:nth-child(2) {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  padding-left: 3.5rem;
  flex-direction: column;
}
.profile-container > .profile-info > div:nth-child(2) > h2 {
  color: #333;
  font-size: 1.37rem;
  margin: 0;
}
.profile-container > .profile-info > div:nth-child(2) > span {
  color: #888;
  font-size: 0.87rem;
  margin-top: 5px;
}
.profile-container > .profile-info > div:nth-child(2) > span.profile-status {
  margin-top: 5px;
  display: flex;
  align-items: center;
}
.profile-container
  > .profile-info
  > div:nth-child(2)
  > span.profile-status
  > span {
  color: #555;
  margin-left: 5px;
  font-style: italic;
}
.profile-container
  > .profile-info
  > div:nth-child(2)
  > span.profile-status
  > div {
  width: 12px;
  height: 12px;
  background-color: #eee;
  border-radius: 50%;
}
.profile-container
  > .profile-info
  > div:nth-child(2)
  > span.profile-status
  > div.online {
  background-color: #62d493;
}
.profile-container
  > .profile-info
  > div:nth-child(2)
  > span.profile-status
  > div.offline {
  background-color: #c46900;
}
.profile-container > .profile-info > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-left: 3.5rem;
}
.profile-container > .profile-info > div:nth-child(3) > li {
  list-style-type: none;
  color: #888;
  margin-bottom: 15px;
  font-size: 0.87rem;
  display: flex;
  flex-direction: column;
}
.profile-container > .profile-info > div:nth-child(3) > li:nth-child(7) {
  margin-bottom: 5px;
}
.profile-container > .profile-info > div:nth-child(3) > li:nth-child(8) {
  margin-bottom: 5px;
}
.profile-container > .profile-info > div:nth-child(3) > div {
  display: flex;
  align-items: center;
}
.profile-container > .profile-info > div:nth-child(3) > li > span {
  font-size: 0.75rem;
  margin-bottom: 5px;
  color: #c46900;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #f7f7f7;
}
.profile-container li > div {
  display: flex;
  align-items: center;
}
.profile-container ion-icon {
  position: absolute;
  left: 3%;
  bottom: 17%;
  margin-right: 5px;
  font-size: 0.87rem;
  border-radius: 3px;
  color: #888 !important;
}
.profile-ticket > .header > h2 {
  margin: auto 0;
  font-size: 1.37rem;
}
.swipe-tab {
  position: relative;
  overflow-x: scroll;
  width: 100%;
  height: 4rem;
}
.swipe-tab > .tabs {
  position: absolute;
  min-width: 660px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid #eee;
  padding-right: 1rem;
}
.swipe-tab > .tabs > .tab {
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  transition: all 0.4s ease;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.swipe-tab > .tabs > .tab:hover {
  box-shadow: 0 5px 10px rgba(167, 156, 156, 0.05);
}
.swipe-tab > .tabs > .tab:hover button {
  color: #c46900;
}
.swipe-tab > .tabs > .tab.active > button {
  color: #c46900;
}
.swipe-tab > .tabs > .tab.active {
  box-shadow: 0 5px 10px rgba(167, 156, 156, 0.05);
}
.swipe-tab > .tabs > .tab > button {
  font-size: 1rem;
  color: #555;
  margin-top: 5px;
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: transparent;
}
.tab-panel {
  display: none;
  padding: 6px 12px;
  border-top: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
.form-wrapper > div > input {
  width: 100%;
  height: 2.5rem;
  padding: 0 30px;
  margin-top: 10px;
  margin-bottom: 0 !important;
  background-color: #f1f1f1;
  color: #555;
  border: 1px solid #f1f1f1;
  border-radius: 0 !important;
  transition: 0.5s;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* TGN Styles */
#profile-setting {
  padding: 2rem 0;
}
.grid-system {
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
label {
  font-weight: 400;
  font-style: 0.87rem;
  color: #555;
  width: 100%;
  margin: 0;
}
input {
  background-color: transparent;
  color: #888;
  width: 95%;
  padding: 8px 4px;
  font-size: 0.87rem;
  transition: all 0.4s ease;
}
.form-wrapper {
  position: relative;
  margin-top: 1rem;
}
.profile-setting-btn {
  grid-column: 1 / -1;
  margin-right: auto;
  margin-top: 2rem;
  display: flex;
}
.setting-btn-outline {
  outline: none;
  border: 1px solid #c46900;
  color: #c46900;
  background-color: #ffff;
  padding: 6px 15px;
  margin-right: 2.5rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.setting-btn-outline ion-icon {
  position: relative;
  color: #c46900 !important;
}
.setting-btn-outline:hover ion-icon {
  color: #fff !important;
}
.setting-btn-outline:hover {
  background-color: #c46900;
  color: #fff;
  box-shadow: 0 5px 10px rgba(167, 156, 156, 0.05);
}
.setting-btn-outline:active {
  transform: scale(1.1);
}
.setting-btn {
  max-height: 2.5rem;
  outline: none;
  border: none;
  background-color: #c46900;
  color: #ffff;
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.setting-btn ion-icon {
  color: #fff !important;
}
.setting-btn:hover {
  opacity: 0.8;
  box-shadow: 0 5px 10px rgba(167, 156, 156, 0.05);
}
.setting-btn:active {
  transform: scale(1.1);
}

/* Security Section */
.security {
  padding: 30px;
}
.security > div > .form-wrapper {
  display: flex;
  justify-content: space-between;
}
.security > div > .form-wrapper > div {
  display: flex;
  flex-direction: column;
}
.security > div > .form-wrapper > div > label {
  color: #555;
}
.security > div > .form-wrapper > div > p {
  color: #888;
}


/* ========================================================================================>>>>

|\\\\          ////| ||||||||||||||||  |||||||||||||||  ||||||||||||||||           /\
||\\\\        ////|| ||||||||||||||||  |||||||||||||||  ||||||||||||||||          //\\
|||\\\\      ////||| ||||              ||||       ||||        ||||               ///\\\
||||\\\\    ////|||| ||||              ||||       ||||        ||||              ////\\\\
|||| \\\\  //// |||| ||||||||||||||||  ||||       ||||        ||||             ////  \\\\
||||  \\\\////  |||| ||||||||||||||||  ||||       ||||        ||||            ////    \\\\
||||   \\\///   |||| ||||              ||||       ||||        ||||           ////||||||\\\\
||||    \\//    |||| ||||              ||||       ||||        ||||          ////||||||||\\\\
||||     \/     |||| ||||||||||||||||  |||||||||||||||  ||||||||||||||||   ////          \\\\
||||            |||| ||||||||||||||||  |||||||||||||||  ||||||||||||||||  ////            \\\\

||||||||||||||||     ||||        ||||  |||||||||||||||  ||||||||||||||||  ||||             ||||
||||||||||||||||     ||||        ||||  |||||||||||||||  ||||||||||||||||  ||||             ||||
||||        ||||     ||||        ||||  ||||             ||||        ||||  ||||             ||||
||||        ||||     ||||        ||||  ||||             ||||        ||||  ||||             ||||
||||        ||||     ||||        ||||  |||||||||||||||  ||||||||||||||||  |||||||||||||||||||||
||||        ||||     ||||        ||||  |||||||||||||||  ||||||||||||||||  |||||||||||||||||||||
||||     \\\||||     ||||        ||||  ||||             ||||     \\\\                      ||||
||||      \\||||\    ||||        ||||  ||||             ||||      \\\\                     ||||
||||||||||||||||\\   ||||||||||||||||  |||||||||||||||  ||||       \\\\   |||||||||||||||||||||      
||||||||||||||||\\\  ||||||||||||||||  |||||||||||||||  ||||        \\\\  |||||||||||||||||||||

<<<<=============================================================================================*/

/* Desktops and large screens */
@media (max-width: 1200px) {
  .profile-container {
    grid-template-columns: 18rem 1fr;
  }
  .profile-container > .profile-info > div:nth-child(2),
  .profile-container > .profile-info > div:nth-child(3) {
    padding-left: 2rem;
  }
  .grid-system {
    gap: 20px;
  }
}

@media (max-width: 1129px) {
  .profile-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-system {
    grid-template-columns: 1fr;
  }
}

/* Small screens and laptops */
@media (max-width: 1024px) {
  
}

@media (max-width: 975px) {
 
}

/* iPad Pro */
@media (max-width: 914px) {
  
}

@media (max-width: 876px) {
  .grid-system {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 860px) {

}

@media (max-width: 800px) {
 
}

/* iPads and tablets */
@media (max-width: 767px) {
}

@media (max-width: 703px) {
  
}

/* Bigger Mobiles */
@media (max-width: 682px) {
  .profile-container {
    grid-template-columns: 1fr;
    padding: 0 5vw;
  }
  .profile-container > .profile-info {
    width: 90vw;
  }
  .profile-ticket {
    width: 90vw;
  }
  .form-wrapper > div > input {
    padding: 0 40px;
  }
}

@media (max-width: 600px) {
  
}

@media (max-width: 576px) {
  .form-wrapper > div > input {
    padding: 0 30px;
  }
}

/* Mobile devices */
@media (max-width: 480px) {
 
}

@media (max-width: 405px) {
  
}

/* Smallest Mobites */
@media (max-width: 320px) {
  .form-wrapper > div > input {
    padding: 0 25px;
  }
}

/* Samsung Fold Mobites */
@media (max-width: 280px) {
  
}

/* ========================================================================================>>>>

|\\\\          ////| ||||||||||||||||  |||||||||||||||  ||||||||||||||||           /\
||\\\\        ////|| ||||||||||||||||  |||||||||||||||  ||||||||||||||||          //\\
|||\\\\      ////||| ||||              ||||       ||||        ||||               ///\\\
||||\\\\    ////|||| ||||              ||||       ||||        ||||              ////\\\\
|||| \\\\  //// |||| ||||||||||||||||  ||||       ||||        ||||             ////  \\\\
||||  \\\\////  |||| ||||||||||||||||  ||||       ||||        ||||            ////    \\\\
||||   \\\///   |||| ||||              ||||       ||||        ||||           ////||||||\\\\
||||    \\//    |||| ||||              ||||       ||||        ||||          ////||||||||\\\\
||||     \/     |||| ||||||||||||||||  |||||||||||||||  ||||||||||||||||   ////          \\\\
||||            |||| ||||||||||||||||  |||||||||||||||  ||||||||||||||||  ////            \\\\

||||||||||||||||     ||||        ||||  |||||||||||||||  ||||||||||||||||  ||||             ||||
||||||||||||||||     ||||        ||||  |||||||||||||||  ||||||||||||||||  ||||             ||||
||||        ||||     ||||        ||||  ||||             ||||        ||||  ||||             ||||
||||        ||||     ||||        ||||  ||||             ||||        ||||  ||||             ||||
||||        ||||     ||||        ||||  |||||||||||||||  ||||||||||||||||  |||||||||||||||||||||
||||        ||||     ||||        ||||  |||||||||||||||  ||||||||||||||||  |||||||||||||||||||||
||||     \\\||||     ||||        ||||  ||||             ||||     \\\\                      ||||
||||      \\||||\    ||||        ||||  ||||             ||||      \\\\                     ||||
||||||||||||||||\\   ||||||||||||||||  |||||||||||||||  ||||       \\\\   |||||||||||||||||||||      
||||||||||||||||\\\  ||||||||||||||||  |||||||||||||||  ||||        \\\\  |||||||||||||||||||||

<<<<=============================================================================================*/